
*
{
font-family:Verdana;
color:#888888;
}

#info
{
float:left;
position:absolute;
width:226px;
height:552px;
background-color:#FFCCCC;
font-family:Verdana;
}
#info li,#links li
{
font-size:17px;
text-align:left;
}
h3
{margin-left:10px;}
h1
{
color:#E6B8B8;

text-decoration:underline;
text-shadow:1px 1px #888888;
text-align:center;
}
#descrip
{
width:500px;
height:300px;
background-color:;
margin-left:250px;
}
#links
{
width:492px;
height:230px;
background-color:;
margin:22px 0px 0px 255px;

}
.link
{
height:50px;
width:445px;
border:2px solid #E6B8B8;
border-radius:5px;
line-height:50px;
text-align:center;
}
.link a
{
color:black;
text-decoration:none;
}
.link a:hover
{
text-decoration:underline;
}

#descrip
{
font-size:15px;
line-height:25px;
}

#foot
{
clear:both;
height:50px;
width:750px;
background:#FFCCCC;
line-height:50px;
text-align:center;
font-size:12px;
}