body
{
margin:0;
/*background-image:url('images/backgrounds/background.jpg');
background-size:1400px 700px;
background-repeat:repeat;
*/
}
#wrapper
{
margin-left:23px;
}
#frameHolder
{
width:753px;
margin:0 auto;
padding:0;
}
#main
{
margin:0 auto;
padding:0;
width:800px;
background-color:white;
box-shadow: 12px 0 8px -4px #888888, -12px 0 8px -4px #888888;
}
iframe
{
border:2px solid white;
}

#menuHolder
{
margin-left:25px;
padding:0;
float:left;
position:absolute;
}
#heading
{
width:749px;
margin:0 auto;
padding:0;
height:30px;
background-color:#FFCCCC;
color:black;
font-family:Verdana;
font-size:17px;
border:2px solid white;
line-height:30px;
text-align:center;
}
#heading:hover
{
background:#ccccff;
}

#projDescription
{
height:295px;
margin-left:440px;
text-align:left;
font-family:Verdana;
line-height:25px;
font-size:14px;
}
#footer,#mainFooter
{
clear:both;
margin-left:23px;
}
#mainFooter
{
margin-top:-20px;
}
span
{
color:#888888;
font-family:Verdana;
}
#wrapper
{
position:fixed;
}
#mainFooter
{
margin-top:-8px;
}
