*
{
font-family:Verdana;
}
h1
{
color:#E6B8B8;
text-decoration:underline;
text-shadow:1px 1px #888888;
text-align:center;
}
a
{
color:#CCA3A3;
text-decoration:none;
}
a:hover
{
color:#888888;
}
#div1
{
margin:0 auto;
background:;
margin-top:50px;
}


.question
{
height:50px;
width:50px;
color:white;
font-size:25px;
font-weight:bold;
background:black;
border-radius:100px;
text-align:center;
line-height:50px;
}
.logo
{
float:left;
background:;
width:60px;
height:90px;
margin-top:-8px;
}
.text
{
color:#888888;
font-size:15px;
}
h4
{
color:#CCA3A3;
}
#content
{
height:1000px;
}